{% extends 'layout.twig' %}

{% block title %}Edit User{% endblock %}

{% block content %}

<h2>Edit User <small>Define the new details for the user</small></h2>

{% include 'user/form.twig' with { 'action': 'edit' } %}

{% endblock %}

{% block documentready %}
	$('#inputGroup').selectpicker();
	$('[name=password]').pwstrength();
	$('[name=password2]').on('input', function() {
		if ($(this).val() != $('[name=password]').val()) {
			$(this)[0].setCustomValidity('The two passwords must match.');
		} else {
			$(this)[0].setCustomValidity('');
		}
	});
{% endblock %}

{% block javascript %}
    {{ parent() }}
	<script src="{{ base_url() }}assets/theme/js/pwstrength.js"></script>
{% endblock %}