{% extends 'admin/layout.twig' %}

{% set name = enum.name %}

{% block title %}{% trans %}New enum item for {{ name }}{% endtrans %}{% endblock %}

{% block content %}

<h2>{% trans 'New enum item' %} <small>{% trans %}Create a new item for {{ name }}{% endtrans %}</small></h2>

{% include 'admin/enums/form_item.twig' with { 'action': 'create' } %}

{% endblock %}

{% block documentready %}
	IndigoAdmin.addProxyButton('{% trans 'Save' %}', 'save', '#form-button-save');
{% endblock %}

{% if val.error_message() %}
	{% block error_flash %}
		<ul>
			{% for item in val.error_message() %}
				<li>{{ item }}</li>
			{% endfor %}
		</ul>
	{% endblock %}
{% endif %}
