{% extends 'admin/layout.twig' %}

{% block title %}{% trans 'Themes' %}{% endblock %}

{% block content %}
<h2>{% trans 'Themes' %} <small>{% trans 'Chose themes for your frontend, and your admin backend independently.' %}</small></h2>
<p class="lead">{% trans 'Nope' %}</p>

<div class="row">

	<div class="col-lg-6">
		<h3>Frontend themes</h3>
		{% for theme in admin_themes %}
		    {% include 'admin/themes/theme.twig' with { 'type': 'frontend' } %}
		{% else %}
		    <p>{% trans 'You have no themes installed that support the frontend modules.' %}</p>
		{% endfor %}
	</div>

	<div class="col-lg-6">
		<h3>Admin themes</h3>
		{% for theme in admin_themes %}
		    {% include 'admin/themes/theme.twig' with { 'type': 'admin' } %}
		{% else %}
		    <p>{% trans 'You have no themes installed that support the admin modules.' %}</p>
		{% endfor %}
	</div>
</div>

{% endblock %}